.content {
    text-align: center;
}
.content a {
    text-decoration: none;
    display: inline-block;
    color: red;
    font-size: 24px;
    border: 2px solid red;
    padding: 14px 70px;
    border-radius: 30px;
    margin: 20px;
    transition: 0.5s;

}
.content a:hover {
    -webkit-text-stroke: 2px blue;
    color: transparent;
}